<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.aibao.pitradar.earnings</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/aibao/invest/pit-radar/scripts/locked_task_runner.sh</string>
		<string>com.aibao.pitradar.earnings</string>
		<string>/Users/aibao/invest/pit-radar/scripts/run_earnings_events_once.sh</string>
	</array>
	<key>WorkingDirectory</key>
	<string>/Users/aibao/invest/pit-radar</string>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Hour</key>
			<integer>8</integer>
			<key>Minute</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>22</integer>
			<key>Minute</key>
			<integer>10</integer>
		</dict>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StandardOutPath</key>
	<string>/Users/aibao/invest/pit-radar/logs/launchd_pitradar_earnings.out</string>
	<key>StandardErrorPath</key>
	<string>/Users/aibao/invest/pit-radar/logs/launchd_pitradar_earnings.err</string>
</dict>
</plist>
